.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    /*(22) Using "overflow:hidden" We can keep the canvas to its original dimension*/
    overflow: hidden;
    /*(34) Using "filter:blur(2px)" we can blur the content*/
    filter:blur(2px)
}
.frame {
    /*(12) "border" creates a border around the ".canvas" box*/
    border: 50px solid black;
    width: 500px;
    /*(14) Use "padding" to create a space between the frame and canvas*/
    padding: 50px;
    /*(15) Use "padding" first value is vertical and second is horizontal*/
    margin: 20px auto;
}
.one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
    /*(37) "box-shadow" property is used to add a shadow effect to an element.*/
    box-shadow: 0 0 3px 3px #efb762;
    /*(40) "border-radius" property changes the corner's radius of the box*/
    border-radius: 9px;
    /*(43) use "transform:rotate (#deg) to rotate the element"*/
    transform: rotate(-0.6deg);
}
.two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    /*(33) notice that 3 value were used: 1-vertical 2-horizontal 3-bottom */
    margin: 0px auto 20px;
    box-shadow: 0 0 3px 3px #8f0401;
    /*(41) We use multiple values for "border-radius" two value mean 1st (top-left radius and bottom-right radius) and 2nd (top-right radius and bottom-left radius)*/
    border-radius: 8px 10px;
    transform: rotate(0.4deg);
}
.three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #b20403;
    /*(42) if we use 4 values for "border-radius" It would go like this: top-left top-right bottom-right bottom-left*/
    border-radius: 30px 25px 60px 12px;
    transform: rotate(-0.2deg);
}
.one, .two {
    filter: blur(1px);
}